<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styling/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="site-footer">
      <div class="footercontain">
        <div class="widgets-wrapper">
          <div class="widget">
            <h5>Pages</h5>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Catalog</a></li>
              <li><a href="">Author</a></li>
            </ul>
          </div>

          <div class="widget">
            <h5>Contact</h5>
            <ul>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>

          <div class="widget">
            <h5>Company</h5>
            <ul>
              <li><a href="">About Us</a></li>
            </ul>
          </div>
          <div class="widget">
            <h5>Our Team</h5>
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/rawand-al-hawwari-b46831227?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  >Rawand Hawwari</a
                >
              </li>
              <li>
                <a href="www.linkedin.com/in/mohammed-hassouna-03b960290"
                  >Muhammed Hassonah</a
                >
              </li>
              <li>
                <a href="https://www.linkedin.com/in/amer-smadi-334992203/"
                  >Amer ALSmadi</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/ehab-abed-b755421aa?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  >Ehab Abed</a
                >
              </li>
              <li>
                <a href="https://www.linkedin.com/in/meladabulail"
                  >Melad Abuliel</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/abdullah-jafar-80975924b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  >Abdullah Jareeri</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/sanad-hantash-486080167?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  >Saned Hantash</a
                >
              </li>
            </ul>
          </div>
          <div class="logo-wrapper">
            <p>
              Copyright<span>&copy;</span> 2023 All rights reserved|This
              template is made by book reader
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
