:root {
  --red: #e55604;
  --darkred: #e55604;
  --platinum: #e5e5e5;
  --black: #191719;
  --white: #fff;
  --thumb: #edf2f4;
}
.details {
  margin-top: 35px;
  display: flex;
  gap: 80px;
}
.details-img1 {
  max-width: 170px;
  max-height: 250px;
  margin: 0 0 20px;
}
.details2 {
  font-weight: bold;
}
.fav-button {
  border: 0;
  background-color: transparent;
}
.details-img2 {
  width: 30px;
  height: 30px;
}
.download {
  margin-top: 20px;
  min-height: 40px;
  background-color: var(--red);
  border: 2px solid var(--darkred);
  border-radius: 6px;
  color: var(--white);
  transition: background-color 1s;
}
.download:hover {
  background-color: var(--white);
  color: var(--red);
}
.details3 {
  max-width: 650px;
  margin-top: 20px;
  min-height: 200px;
  padding: 8px;
}
.details-reviews1 {
  margin: 80px 0 0;
  display: flex;
  gap: 160px;
}
#select {
  border: 2px solid var(--red);
  border-radius: 6px;
  min-height: 40px;
  width: 60px;
  text-align: center;
}
.write-review {
  margin-top: 20px;
  min-height: 40px;
  background-color: var(--red);
  border: 2px solid var(--darkred);
  border-radius: 6px;
  color: var(--white);
  width: 121px;
  transition: background-color 1s;
}
.write-review:hover {
  color: var(--red);
  background-color: var(--white);
}
.average-rating2 {
  text-align: center;
}
.form1 {
  display: flex;
}
#write-review1 {
  min-height: 40px;
  width: 350px;
  border: 1px solid var(--darkred);
  border-radius: 8px;
}
.comment-box {
  margin-top: 40px;
  max-width: 650px;
  border: 2px solid var(--darkred);
  border-radius: 15px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details-img3 {
  width: 30px;
  height: 30px;
}
.username1 {
  display: flex;
  gap: 20px;
}

/* ------------------------------Card Css------------------------------------------------ */
.card-container1 {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.cards {
  margin-top: -40px;
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.cards2 {
  margin: 60px 0 0;
  display: flex;
  padding: 25px 0px;
  list-style: none;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  border: 4px solid var(--red);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}
.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

/* ---------------------------------------footer css ------------------------------ */
a {
  color: inherit;
}
.footercontain1 {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
.site-wrapper1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header1 {
  padding: 3vh 0;
  text-align: center;
  background: #e55604;
}

.site-header1 > div {
  display: flex;
  justify-content: center;
}

.site-header1 a {
  line-height: 1;
}

.site-main1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  margin: 30px 0;
}

.site-main1 h1 {
  line-height: 1.2;
  margin: 0 0 20px;
}

.site-footer1 {
  padding: 30px 0;
  color: white;
  background: #191717;
  margin: 80px 0 0;
}

.site-footer1 .logo-wrapper1 div {
  font-style: italic;
  font-size: 15px;
  line-height: 1;
}

.site-footer1 .widgets-wrapper1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-block: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.site-footer1 h5 {
  font-size: 20px;
  margin: 20px 0;
}

.site-footer1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer1 ul:not(.socials) li + li {
  margin-top: 10px;
}

.site-footer1 a {
  text-decoration: none;
}

.site-footer1 .socials1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-start;
  grid-gap: 15px;
}

.site-footer1 .socials1 svg {
  fill: var(--white);
}

@media (max-width: 650px) {
  .site-footer1 .widgets-wrapper1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.creator1 {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 0.75em;
  background: var(--white);
}

.creator1 a {
  display: flex;
  margin-left: 4px;
}
